.container{ 
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 20px;
    align-items: end;
}
.top_btn{
    display: flex;
    gap: 30px;
}
.contact_Form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}
.contact_Form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.form_control{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.form_control input{
    height: 40px;
    padding: 0 10px;
}
.form_control textarea{
    padding: 10px;
}
.form_control label{
    position: absolute;
    top: -15px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
    font-size: 15px;
}